<footer class="footer d-flex flex-column justify-content-center">
    <div class="d-flex justify-content-around align-items-center">
        <p class="col-lg-4 col-2 text-center"></p>
        <p class="col-lg-4 col-6 text-center">по всем вопросам: admin@yandex.ru</p>
        <p class="col-4 text-center">{{ "now"|date("Y") }} © Rybin Artem</p>
    </div>
</footer>