<footer class="footer d-flex flex-column justify-content-center">
    <div class="d-flex justify-content-around align-items-center">
        <p class="col-4 text-center"></p>
{#        <div class="col-4 text-center">Icons made by <a href="" title="catkuro">catkuro</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>#}
        <p class="col-4 text-center">по всем вопросам: admin@yandex.ru</p>
        <p class="col-4 text-center">{{ "now"|date("Y") }} © Rybin Artem</p>
    </div>
</footer>