<footer class="footer d-flex justify-content-around align-items-center">
    <p class="col-4 text-center"></p>
    <p class="col-4 text-center">по всем вопросам: admin@yandex.ru</p>
    <p class="col-4 text-center">2021 © Rybin Artem</p>
</footer>