{% extends 'base.html.twig' %}

{% block title %}Determination Of Tonality{% endblock %}

{% block body %}
    <div class="content_padding vh-100 d-flex flex-column justify-content-center">
        <div class="d-flex flex-lg-row flex-column justify-content-center align-items-center mb-5">
            <div class="col-6 d-flex flex-column justify-content-center align-items-center">
                <h1 class="font_title mb-5 logo">Determination Of Tonality - избавьтесь от неопределённости прямо сейчас</h1>
                <a class="btn btn-outline-dark pl-5 pr-5" href="{{ path('analyze') }}" role="button">Get start</a>
            </div>
            <div class="col-6 d-flex justify-content-center align-items-center">
                <svg style="height: 32vw;" height="512" viewBox="0 0 64 64" width="512" xmlns="http://www.w3.org/2000/svg"><g id="Data_analysis-research-analysis-report-presentation" data-name="Data analysis-research-analysis-report-presentation"><path d="m34 14h10a1 1 0 0 0 1-1 11.013 11.013 0 0 0 -11-11 1 1 0 0 0 -1 1v10a1 1 0 0 0 1 1zm1-9.945a9.02 9.02 0 0 1 7.945 7.945h-7.945z"/><path d="m49.414 4h6.586v-2h-7a1 1 0 0 0 -.707.293l-3 3 1.414 1.414z"/><path d="m58 2h4v2h-4z"/><path d="m17.293 6.707 1.414-1.414-3-3a1 1 0 0 0 -.707-.293h-7v2h6.586z"/><path d="m2 2h4v2h-4z"/><path d="m50 8h8v2h-8z"/><path d="m60 8h2v2h-2z"/><path d="m2 8h12v2h-12z"/><path d="m25.586 36h-6.586v2h7a1 1 0 0 0 .707-.293l3-3-1.414-1.414z"/><path d="m13 36h4v2h-4z"/><path d="m13 30h12v2h-12z"/><path d="m62 29a12.987 12.987 0 0 0 -21.18-10.09 10.942 10.942 0 0 0 .18-1.91 1 1 0 0 0 -1-1h-9v-9a1 1 0 0 0 -1-1 11.011 11.011 0 0 0 -10.57 8h-5.43a5 5 0 0 0 -5 5v26a5 5 0 0 0 5 5h14v6h-3a3.009 3.009 0 0 0 -3 3v2a1 1 0 0 0 1 1h18a1 1 0 0 0 1-1v-2a3.009 3.009 0 0 0 -3-3h-3v-6h8v7a5 5 0 0 0 10 0v-12a1 1 0 0 0 -1-1h-1v-2.36a13.025 13.025 0 0 0 10-12.64zm-33-20.94v8.94a1 1 0 0 0 1 1h8.94a9 9 0 1 1 -9.94-9.94zm10 49.94a1 1 0 0 1 1 1v1h-16v-1a1 1 0 0 1 1-1zm-9-2v-6h4v6zm15-12a1 1 0 0 0 -1 1v3h-30a3.009 3.009 0 0 1 -3-3v-1h31v-2h-31v-23a3.009 3.009 0 0 1 3-3h5.05c-.03.33-.05.66-.05 1a10.989 10.989 0 0 0 17.38 8.95 12.8 12.8 0 0 0 -.38 3.05 13.025 13.025 0 0 0 10 12.64v2.36zm7 13a3 3 0 0 1 -6 0v-11h6zm-4-13v-2.05c.33.02.66.05 1 .05s.67-.03 1-.05v2.05zm1-4a11 11 0 1 1 11-11 11.007 11.007 0 0 1 -11 11z"/><path d="m49 20a9 9 0 1 0 9 9 9.011 9.011 0 0 0 -9-9zm0 16a7 7 0 1 1 7-7 7.008 7.008 0 0 1 -7 7z"/><path d="m44 29h2a3 3 0 0 1 3-3v-2a5.006 5.006 0 0 0 -5 5z"/><path d="m48 48h2v2h-2z"/><path d="m48 52h2v6h-2z"/></g></svg>
            </div>
        </div>
    </div>
    

    <div class="bg-vectorize pt-5 pb-5">
        <div class="content_padding">
            <h2 class="text-center">Методы векторного представления слов</h2>
{#            bagOFWords#}
            <div class="vectorize_margin d-flex justify-content-center align-items-center">
                <div class="col-9 d-flex justify-content-center align-items-center form-security_style p-5">
                    <div class="col-4">
                        <h3 class="text-center">Bag Of Words</h3>
                        <div class="d-flex justify-content-center">
                            <svg id="Capa_1" enable-background="new 0 0 511.996 511.996" height="150" viewBox="0 0 511.996 511.996" width="512" xmlns="http://www.w3.org/2000/svg"><g><g><path d="m434.35 312.516-93.764-130.59c11.536-4.842 19.659-16.252 19.659-29.525 0-15.207-10.664-27.961-24.964-31.077l40.609-83.626c1.909-3.932 1.117-8.331-1.589-11.267l.003-.007c-13.07-14.165-31.527-23.319-51.971-25.775-19.186-2.306-38.477 1.591-52.936 10.686-4.07 2.561-5.66 7.571-4.062 11.91 3.172 8.641-.938 18.326-9.356 22.048-6.852 3.031-14.87 1.366-19.95-4.14l-15.56-16.864c-10.951-11.868-25.847-19.114-41.945-20.401-16.094-1.283-31.956 3.499-44.654 13.475-3.714 2.918-4.88 8.037-2.796 12.275l45.071 91.679c-13.984 3.425-24.394 16.058-24.394 31.083 0 13.274 8.123 24.684 19.659 29.525l-93.765 130.59c-15.471 21.547-23.649 46.958-23.649 73.485 0 69.474 56.521 125.995 125.995 125.995h31.006c5.523 0 10-4.477 10-10s-4.477-10-10-10h-31.006c-58.446 0-105.995-47.549-105.995-105.995 0-22.316 6.879-43.693 19.895-61.82l100.36-139.776h71.338c-11.259 22.967-12.166 54.308-1.984 77.489.016.035.031.071.047.105l6.178 13.636c4.997 11.028 15.979 17.601 27.423 17.6 4.011 0 8.081-.808 11.966-2.515 7.396-3.249 13.061-9.193 15.951-16.737 2.889-7.544 2.645-15.751-.69-23.11l-5.959-13.153c-2.976-6.841-2.356-20.928 1.214-27.451l7.173-13.102 91.196 127.012c13.016 18.127 19.895 39.504 19.895 61.82 0 58.446-47.549 105.995-105.995 105.995h-31.006c-5.523 0-10 4.477-10 10s4.477 10 10 10h31.006c69.474 0 125.995-56.521 125.995-125.995 0-26.524-8.178-51.934-23.649-73.482zm-228.58-274.663 15.56 16.864c10.883 11.794 28.058 15.36 42.737 8.869 15.249-6.744 23.896-22.62 22.095-38.554 19.826-8.771 48.854-6.707 68.631 10.326l-41.295 85.039h-115.52l-45.052-91.64c17.286-9.048 39.218-5.671 52.844 9.096zm-22.014 102.543h144.484c6.619 0 12.004 5.385 12.004 12.004 0 6.62-5.385 12.005-12.004 12.005h-.263c-.003 0-.005 0-.007 0h-144.214c-6.619 0-12.004-5.385-12.004-12.005 0-6.619 5.385-12.004 12.004-12.004zm116.473 105.413c.016.035.031.071.047.105l5.987 13.215c1.111 2.453 1.193 5.188.23 7.703s-2.851 4.496-5.316 5.579c-4.989 2.191-10.879-.063-13.128-5.028l-6.153-13.582c-8.006-18.28-6.824-45.24 2.754-62.738l3.645-6.658h22.801l-8.903 16.262c-6.554 11.973-7.453 32.645-1.964 45.142z"/><circle cx="255.998" cy="501.996" r="10"/></g></g></svg>
                        </div>
                    </div>
                    <div class="">
                        <p class="bag-of-words__title text-justify">
                            <strong>Bag of Words (или мешок слов)</strong> - это модель, часто используемая при
                            обработке текстов, представляющая собой неупорядоченный набор слов,
                            входящих в обрабатываемый текст. Часто модель представляют в виде
                            матрицы, в которой строки соответствуют отдельному тексту, а столбцы —
                            входящие в него слова. Ячейки на пересечении являются числом вхождения
                            данного слова в соответствующий документ. Данная модель удобна тем, что
                            переводит человеческий язык слов в понятный для компьютера язык цифр.
                        </p>
                    </div>
                </div>
            </div>
{#            Word2Vec#}
            <div class="vectorize_margin d-flex justify-content-center align-items-center">
                <div class="col-9 d-flex justify-content-center align-items-center form-security_style p-5">
                    <div class="">
                        <p class="bag-of-words__title text-justify">
                            <strong>Word2vec</strong> — метод эффективного создания вложений, разработанный в 2013 году
                            компанией Google.
                        </p>
                        <p class="bag-of-words__title text-justify">Алгоритм программызаключается в том, что word2vec
                            принимает большой текстовый корпус в качестве входных данных и
                            сопоставляет каждому слову вектор, выдавая координаты слов на выходе.
                            Сначала он генерирует словарь корпуса, а затем вычисляет векторное
                            представление слов, «обучаясь» на входных текстах. Векторное представление
                            основывается на контекстной близости: слова, встречающиеся в тексте рядом
                            с одинаковыми словами (а, следовательно, имеющие схожий смысл), будут
                            иметь близкие (по косинусному расстоянию) векторы. Полученные векторные
                            представления слов могут быть использованы для обработки естественного
                            языка и машинного обучения.</p>
                    </div>
                    <div class="col-4">
                        <h3 class="text-center">Word2Vec</h3>
                        <div class="d-flex justify-content-center">
                            <svg id="Capa_1" enable-background="new 0 0 512 512" height="150" viewBox="0 0 512 512" width="512" xmlns="http://www.w3.org/2000/svg"><g><path d="m454 226.869c4.414 0 8.688.86 12.705 2.557 4.631 1.956 9.936 1.461 14.126-1.317 4.19-2.779 6.709-7.473 6.709-12.501v-139.467c0-8.284-6.716-15-15-15h-125.841c-.827-33.855-28.625-61.141-62.676-61.141s-61.849 27.286-62.676 61.141h-115.652c-8.284 0-15 6.716-15 15v120.826c-1.175-.065-2.355-.098-3.541-.098-34.57 0-62.695 28.125-62.695 62.695s28.125 62.695 62.695 62.695c1.186 0 2.366-.033 3.541-.098v120.826c0 8.284 6.716 15 15 15h116.232c4.24 30.476 30.471 54.013 62.096 54.013s57.855-23.538 62.096-54.013h126.422c8.284 0 15-6.716 15-15v-139.466c0-5.028-2.52-9.722-6.709-12.501-4.19-2.778-9.495-3.273-14.126-1.317-4.017 1.696-8.291 2.556-12.705 2.556-18.028 0-32.695-14.667-32.695-32.695s14.666-32.695 32.694-32.695zm0 95.39c1.186 0 2.366-.033 3.541-.098v105.826h-126.252c-4.321 0-8.433 1.864-11.281 5.114s-4.156 7.571-3.589 11.855c.199 1.501.299 2.964.299 4.35 0 18.028-14.667 32.695-32.695 32.695s-32.695-14.667-32.695-32.695c0-1.386.101-2.849.299-4.35.567-4.284-.741-8.604-3.589-11.855-2.848-3.25-6.96-5.114-11.281-5.114h-116.062v-124.466c0-5.028-2.519-9.722-6.709-12.501-4.19-2.778-9.495-3.273-14.126-1.317-4.017 1.696-8.291 2.556-12.705 2.556-18.028 0-32.695-14.667-32.695-32.695s14.667-32.695 32.695-32.695c4.414 0 8.688.86 12.705 2.557 4.631 1.956 9.936 1.461 14.126-1.317 4.19-2.779 6.709-7.473 6.709-12.501v-124.467h117.568c4.726 0 9.175-2.227 12.007-6.009 2.833-3.783 3.717-8.679 2.387-13.213-.881-3.004-1.328-6.107-1.328-9.224 0-18.028 14.667-32.695 32.695-32.695s32.695 14.667 32.695 32.695c0 3.117-.447 6.22-1.328 9.224-1.33 4.534-.446 9.43 2.387 13.213 2.832 3.783 7.281 6.009 12.007 6.009h127.758v105.826c-1.175-.065-2.355-.098-3.541-.098-34.57 0-62.695 28.125-62.695 62.695s28.123 62.695 62.693 62.695z"/><path d="m363.52 184.083c-7.917-2.432-16.31 2.017-18.742 9.937l-25.228 82.161-21.646-52.871c-2.31-5.642-7.799-9.317-13.88-9.317-.074 0-.149 0-.223.001-6.169.091-11.654 3.951-13.822 9.728l-19.523 52.021-27.294-82.055c-2.614-7.86-11.106-12.114-18.968-9.499-7.861 2.615-12.114 11.107-9.499 18.968l40.676 122.282c2.006 6.031 7.595 10.143 13.949 10.263 6.372.099 12.095-3.777 14.328-9.727l20.982-55.909 23.058 56.321c2.315 5.654 7.813 9.317 13.878 9.317.227 0 .456-.005.684-.016 6.332-.287 11.799-4.523 13.66-10.582l37.547-122.282c2.431-7.918-2.018-16.309-9.937-18.741z"/></g></svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{#        Classificators#}
    <div class="pt-5 pb-5">
        <div class="content_padding">
            <h2 class="text-center">Классификаторы</h2>

        </div>
    </div>
{% endblock %}