@import '~bootstrap/scss/bootstrap';

// course_index
.line {
  border: 1px solid lightgray;
  width: 100%;
}

// a btn margin
.a_margin {
  margin-right: 5px;
}

// font h1
.font_title {
  font-size: 30px;
}
html {
  min-height: 100%;
  height:100%;
  width:100%;
  margin:0;
}
body {
  height:100%;
  width:100%;
  margin:0;
}
.container_center {
  height:100%;
  width:100%;
  margin:0;
  display: flex;
  justify-content: center;
  align-items: center;
}